<!DOCTYPE html>
<html lang="en"> xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!--Concatenation-->
<h2 th:text="${'Hello'+ ' '+ students.get(0).firstName +  ' ' +students.get(0).lastName}" ></h2>
<h2 th:text="${students.get(0).firstName + ' ' +students.get(0).lastName}" ></h2>

<!--Link-->

<a th:href="@{http://cydeo.com}">Cydeo page</a><br><br>
<a th:href="@{http://facebook.com}">Facebook page</a><br>
<a th:href="@{/student/welcome}">Welcome page</a>

</body>
</html>