<!DOCTYPE html>
<html lang="en"> xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!--Concatenation-->
<h2 th:text="${'Hello'+ ' '+ students.get(0).firstName +  ' ' +students.get(0).lastName}"></h2>
<h2 th:text="${students.get(0).firstName + ' ' +students.get(0).lastName}"></h2>

<!--Link-->

<h2><a th:href="@{http://cydeo.com}">Cydeo page</a><br></h2>
<h3><a th:href="@{http://facebook.com}">Facebook page</a><br></h3>
<h3><a th:href="@{/student/welcome}">Welcome page</a></h3>

<!--Adding parameters in link-->
<h2><a th:href="@{/student/welcome(id=3)}">Link1</a></h2>
<h2><a th:href="@{/student/welcome(name=${students.get(0).firstName})}">Link2</a></h2>

<!--Iteration-->
<h2>Printing My List</h2>
<h5>
    <ul>
        <li th:each="student : ${students}" th:text="${student}"></li>
    </ul>
</h5>
<h2>Printing Student First Name</h2>
<h5>
    <ul>
        <li th:each="student : ${students}" th:text="${student.firstName}"></li>
    </ul>
</h5>
<table>
    <thead>
    <tr>
        <h1 FirstNameLastNameAgeGender></h1>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>state</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.state}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>